# Run with sudo openvpn --config <this file>

client
dev tun
proto udp
remote {0} 1194
resolv-retry infinite
nobind
persist-key
persist-tun

<ca>
{1}
</ca>
<cert>
{2}
</cert>
<key>
{3}
</key>

remote-cert-tls server

cipher AES-256-CBC
verb 3
