[Unit]
Decription=uWSGI CTF Server
After=syslog.target

[Service]
User=ec2-user
Group=ec2-user
ExecStart=/usr/local/bin/uwsgi --ini /etc/uwsgi/ctf-server.ini
RuntimeDirectory=uwsgi
RuntimeDirectoryMode=0777
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target